.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.avatar {
  width: 15rem;
  height: 15rem;
  aspect-ratio: 1;
  max-width: 100%;
  border-radius: 50%;
  margin: 1rem;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 2rem;

  a {
    display: block;
    width: 15rem;
    max-width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    background-color: hsla(
      var(--color-primary-hue),
      var(--color-primary-saturation),
      var(--color-primary-lightness),
      0.1
    );
    transition: all 0.15s ease;

    &:hover,
    &:focus-visible {
      transform: scale(1.05);
      filter: none;
    }
  }
}
