.container {
  margin: 1rem 0;
  background-origin: border-box;
  gap: 0 !important;

  html:not([data-theme="dark"]) & {
    border: 1px solid transparent !important;
    background-image: linear-gradient(to bottom, #2a2d3d var(--editor-height), #eee var(--editor-height));
  }

  @media (--small-viewport) {
    border-radius: 0 !important;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
  }
}

.pane {
  min-width: 100%;
}

.editor {
  height: var(--editor-height) !important;
}

.preview {
  height: var(--preview-height) !important;
  background-color: white !important;
}
