:root {
  --color-primary: hsl(340, 82%, 60%);
  --color-primary-hue: 340;
  --color-primary-saturation: 82%;
  --color-primary-lightness: 65%;

  --color-primary: hsl(
    var(--color-primary-hue),
    var(--color-primary-saturation),
    var(--color-primary-lightness)
  );

  --color-background-light: hsl(0deg, 0%, 100%);
  --color-background-dark: hsl(231deg, 18%, 15%);
  --color-text-light: hsl(222deg, 22%, 5%);
  --color-text-dark: hsl(230deg, 18%, 72%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
}

html {
  color-scheme: light;

  &[data-theme='dark'] {
    color-scheme: dark;
  }
}

body {
  font-family: var(--font-lato);
  color: var(--color-text-light);
  background-color: var(--color-background-light);
  font-size: 1rem;
  line-height: 1.75;
  text-size-adjust: 100%;
  overflow-wrap: break-word;
  transition: all 0.15s ease-in-out;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;

  @media screen and (min-resolution: 2dppx) {
    -webkit-font-smoothing: antialiased;
  }

  [data-theme='dark'] & {
    color: var(--color-text-dark);
    background-color: var(--color-background-dark);
  }
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

h1 {
  font-family: var(--font-arvo);
  font-size: 2.28rem;
  line-height: 1.53;
  margin-bottom: 0.5rem;
}

h2 {
  font-family: var(--font-arvo);
  font-size: 1.64rem;
  font-weight: 700;
  line-height: 1.53;
  margin: 2.67rem 0 0 -0.09rem;

  a,
  a:hover,
  a:focus-visible {
    color: inherit;
    text-decoration: none;
  }
}

h3 {
  font-family: var(--font-arvo);
  font-size: 1.43rem;
  font-weight: 700;
  line-height: 1.53;
  margin: 1.67rem 0 0 0;

  a,
  a:hover,
  a:focus-visible {
    color: inherit;
    text-decoration: none;
  }
}

p,
ul,
ol {
  margin-top: 1rem;
}

:is(dl, ol, ul) :is(dl, ol, ul) {
  font-size: 100%;
}

ul {
  list-style-position: outside;
  list-style-type: disc;
  margin-left: 2rem;
}

ul ul {
  list-style-type: circle;
}

ol {
  list-style-position: outside;
  margin-left: 2.5rem;
}

li::marker {
  color: var(--color-primary);
}

blockquote {
  font-family: var(--font-arvo);
  font-size: 1.43rem;
  font-style: italic;
  letter-spacing: -0.02rem;
  line-height: 2.11rem;
  overflow-wrap: break-word;
  margin: 2.62rem 0 1.57rem 0;
  color: rgba(0, 0, 0, 0.68);
  padding: 0 0 0 2.38rem;
}

code {
  font-family: var(--font-fira-code);
  font-size: 0.86em; /* Use `em` to adapt to the context, e.g. `p` or `h2` */
  font-weight: 700;
  border-radius: 0.1rem;
  padding: 0.14rem 0.24rem;
  background-color: rgba(0, 0, 0, 0.04);

  [data-theme='dark'] & {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

pre {
  border-radius: 0.38rem;

  @media (max-width: 75ch) {
    border-radius: 0;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
  }
}

pre code {
  font-size: 0.86rem;
  font-weight: 400;
  padding: 1rem 0;
  overflow-x: auto;

  &,
  [data-theme='dark'] & {
    background-color: transparent;
  }

  [data-line] {
    padding: 0 1rem;
  }

  [data-highlighted-line] {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

[data-rehype-pretty-code-title] {
  font-size: 0.86rem;
  margin-top: 1rem;
  background-color: hsl(231deg, 18%, 25%);
  color: hsl(230deg, 18%, 72%);
  border-radius: 0.38rem 0.38rem 0 0;
  padding: 0.5rem 1rem;

  & + pre {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  @media (max-width: 75ch) {
    border-radius: 0;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
  }
}

a {
  color: var(--color-primary);
  text-underline-offset: 2px;

  &:focus-visible,
  &:hover {
    color: var(--color-primary);
  }
}

main,
nav,
footer {
  max-width: 75ch;
  margin: 0 auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

main {
  padding-top: 5rem;
  padding-bottom: 8rem;

  @media (max-width: 43rem) {
    padding-top: 3rem;
    padding-bottom: 6rem;
  }
}

footer {
  margin-bottom: 3rem;
}
