.container {
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid var(--color-border);
  padding: 0 1rem;
}

.item {
  display: flex;
  align-items: center;
  font-size: 1.14rem;
  text-decoration: none;
  color: inherit;
  margin-right: 1rem;
  transition: color 0.15s ease-in-out;
}

.logo {
  & img {
    color: inherit !important;
    height: 2.25rem;
    width: 2.25rem;
    border: 2px solid currentColor;
    border-radius: 50%;
  }

  &:hover img {
    filter: saturate(120%)
  }
}

.back {
  margin-left: -1rem;
}

.icon {
  margin: 1rem;
  height: 1.5rem;
  aspect-ratio: 1;
}

.spacer {
  flex-grow: 1;
}
