.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  border-bottom: 1px solid var(--color-border);
  position: relative;
}

.left, .right {
  flex: 1;
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

.left {
  justify-content: flex-start;
}

.right {
  justify-content: flex-end;
}

.item {
  display: flex;
  align-items: center;
  font-size: 1.14rem;
  text-decoration: none;
  color: inherit;
  margin-right: 1rem;
  transition: color 0.15s ease-in-out;

  &:last-of-type {
    margin-right: 0;
  }
}

.logo {
  & img {
    color: inherit !important;
    height: 2.25rem;
    width: 2.25rem;
    margin: 0.125rem;
    border: 2px solid currentColor;
    border-radius: 50%;
  }

  &:hover img {
    filter: saturate(120%);
  }
}

.back {
  margin-left: -1rem;
}

.icon {
  margin: 1rem;
  height: 1.5rem;
  aspect-ratio: 1;
}

.searchbar {
  display: flex;
  padding: 0.5rem 1rem;
  min-width: 0;
  width: 75ch;

  @media (max-width: 115ch) {
    flex-grow: 1;
    width: auto;
  }

  @media (max-width: 75ch) {
    flex-basis: 100%;
    order: 99;
    padding-top: 0;
  }
}
